@import "vars";

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #171919;
    color: #fff;
    text-transform: uppercase;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

ul, 
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.serf, .travel {
    padding: 160px 0px 120px;
}

.travel {
    padding-bottom: 265px;
    margin-bottom: 35px;
}

.sleep {
    padding-bottom: 57px;
    margin-bottom: 243px;
}

.headline-left {
    font-size: 22px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 7.33333px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}

.headline-right {
    font-size: 22px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 7.33333px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-right: 103px;
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        right: 0;
        top: 50%;
    }
}

.subtitle {
    .headline-left {
        margin-bottom: 16px;
    }
}

.title {
    span {
        position: relative;
        font-weight: 800;
        font-size: 200px;
        color: rgba($color: #fff, $alpha: .02);
        left: -50px;
        display: inline-block;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 80px;
        position: absolute;
        top: 0px;
        right: -5px;
        color: #fff;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background-color: $green;
            width: 80px;
            height: 1px;
        }
    }
}

.subtitle {
    display: inline-block;
    text-align: right;
    &__head {
        font-size: 40px;
        font-weight: 800;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
}

.descr {
    display: inline-block;
    &__head {
        font-size: 40px;
        font-weight: 800;
        padding-right: 10px;
        span {
            font-weight: 100;
        }
    }
}

.subtitle-wrapper {
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
}

.btn {
    font-weight: 800;
    font-size: 40px;
    span {
        display: inline-block;
        padding: 17px 57px 15px 17px;
        background-color: $green;
        margin-left: 19px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: -10px;
        }
        &:after {
            content: "";
            width: 25px;
            height: 21px;
            position: absolute;
            background-image: url(../img/arrows-right.svg);
            top: 37%;
            right: 17px;
            
        }
    }
}

.quantity {
    display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 42px;
    display: block;
    background-color: transparent;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    border: none;
    padding: 0;
}

.quantity input:focus {
    outline: 0;
}

.quantity-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
}

.quantity-button.quantity-up {
    right: 0px;
}

.quantity-button.quantity-down {
    right: 25px;
}